/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

.vs/
.consulo/
.gradle/

ExportedObj/

sysinfo.txt
crashlytics-build.properties
UpgradeLog.htm

.DS_Store
.bak
.BAK

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.apk
*.aab
*.unitypackage
*.app
*.rar

!/[Aa]ssets/Plugins/FMOD/**/*.dll
!/[Aa]ssets/Plugins/FMOD/main/[Bb]uild/
!/[Aa}ssets/Gizmos/FMOD/*
!/[Aa}ssets/Editor Default Resources/FMOD/*
/[Aa]ssets/**/FMODStudioCache.asset
/[Aa]ssets/**/FMODStudioCache.asset.meta
/[Aa]ssets/Plugins/FMOD/Cache.meta
/[Aa]ssets/Plugins/FMOD/Cache/Editor.meta
/Assets/FMODAssets/*
/Assets/FMODStudioCache.meta
fmod.log
fmod_editor.log


/Assets/Plugins/FMOD/platforms/**/lib/
!/Assets/Plugins/FMOD/platforms/win/lib/